* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #b1b9b8, #5672df);
  /* center glass */
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background-color: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  /* RGBA Lets us control opactity of color */
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(1.5rem);
  display: flex;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.topWork {
    flex: 2;
}

.circle1,
.circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.472)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
    background-color: royalblue;
    top: 5%;
    right: 15%;
}
.circle2 {
    background-color: #566160;
    bottom: 5%;
    left: 10%;
}
.cardBtn {
    background-color: #5672df;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}
.urlLink {
    text-decoration: none;
    color: white;
}
.user > img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.link > img {
    height: 2rem;
}

.card > img {
    height: 8rem;
}