@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

::-webkit-scrollbar{
    display: none;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #b1b9b8, #5672df);
  /* center glass */
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.glass {
  background-color: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  /* RGBA Lets us control opactity of color */
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(1.5rem);
  display: flex;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0rem 1rem;
}

.topWork {
    flex: 2;
}

.circle1,
.circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
    background-color: royalblue;
    top: 1%;
    right: 13%;
}
.circle2 {
    background-color: #566160;
    bottom: 2%;
    left: 12%;
}

.teleporter {
    background: linear-gradient(to left bottom, #e7ddf4, #8baeff);
    border-radius: 1.5rem;
    color: white;
    padding: 5px;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.teleporter h2 {
    width: 40%;
}

.teleporter img {
    height: 5rem;
    top: -19%;
    left: -30%;
}

.cardBtn {
    background-color: #5672df;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}
.urlLink {
    text-decoration: none;
    color: white;
}
.user > img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.link > img {
    height: 2rem;
}

.card > img {
    height: 8rem;
}